body {
    margin: 0;
    background-image: url("http://itectehuacan.edu.mx/TutoriasFinalSistema/Imagenes/backgrounds/1.jpg");
    background-attachment: fixed;
    font-family: 'Muli', sans-serif;
}

.header{
    width: 100%;
    height: 60px;
    background-color: #fdfdfdb4;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header p{
    font-size: 20px;
    color: black;
    font-weight: 400;
}
.header__img{
    width: 60px;
    margin: 10px;
}

.header__menu {
    margin-right: 30px;
}

.header__menu--profile{
    margin-right: 8px;
    display: flex;
    align-items: center;
}

.header__menu--profile img{
    margin-right: 8px;
    width: 40px;
    height: 40px;
}

.header__menu--profile a{
    margin-right: 0px;
    color: black;
    font-weight: 400;
}

.header__menu--profile a:hover{
    margin-right: 0px;
    color: black;
}

.carousel-item img{
    height: 500px;
    background-size: auto;
    opacity: 0.87;
}

.footer {
    background-color: #fdfdfdb4;
    display: flex;
    align-items: center;
    height: 70px;
    width: 100%;
}

.footer a{
    color: black;
    cursor: pointer;
    font-size: 14px;
    padding-left: 30px;
    text-decoration: none;
}

.footer a:hover{
    text-decoration: underline;
}